<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>

    <ion-buttons slot="primary" class="cart_icon" routerLink="/tabs/tab1/cart-items">
      <ion-icon slot="end" name="cart-outline"></ion-icon>
      {{total_number}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #customLoadingTemplate></ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
               [template]="customLoadingTemplate"></ngx-loading>


  <ion-card *ngIf="showDummyDetails">
    <ion-card-header>
      <ion-card-title>
        {{productDetails?.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="productDetails?.image"></ion-img>

      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="price_text">Price: {{productDetails?.price | currency}}</h3>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="cart-outline" size="4" (click)="addToCart()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      {{productDetails?.overview}}
    </ion-card-content>

  </ion-card>
  <ion-card *ngIf="!showDummyDetails">
    <ion-card-header>
      <ion-card-title>
        {{productDetails?.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides *ngIf="productDetails?.images" class="slide-padding" pager="true" [options]="slideOptsOne">
        <ion-slide *ngFor="let img of productDetails?.images">
          <div class="container">
            <ion-img [src]="img?.image"></ion-img>
          </div>
        </ion-slide>

      </ion-slides>

      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="price_text">Price: {{productDetails?.price | currency}}</h3>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="cart-outline" size="4" (click)="addToCart()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      {{productDetails?.description}}
    </ion-card-content>

  </ion-card>
</ion-content>
