<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>

    <ion-buttons slot="primary" class="cart_icon">
    <ion-icon slot="end" name="cart-outline"></ion-icon>{{cartItems}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

<ng-template #customLoadingTemplate></ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>


  <ion-grid  class="no-padding">
    <ion-row class="no-padding">
      <ion-col size="4">
        <ion-list  class="no-padding">
          <ion-item *ngFor="let cat of categories">
            <ion-label>{{cat?.name | titlecase}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-card *ngFor="let product of products">
          <ion-card-header>
              <ion-text >{{product?.title}}</ion-text>
          </ion-card-header>

          <img [src]="product?.image" />
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-text class="price_text">Price: {{product?.price | currency}}</ion-text>
                </ion-col>
                <ion-col size="2">
                  <ion-icon name="cart-outline" size="4" (click)="addToCart(product?.id)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    </ion-grid>
</ion-content>
