<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>



  <ion-grid  class="no-padding">
    <ion-row class="no-padding">
      <ion-col size="4">
        <ion-list  class="no-padding">
          <ion-item>
            <ion-label>Men Shoes</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Shirts</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dress</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Women Shoes</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Kids Ware</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-card *ngFor="let product of products">
          <ion-card-header>
              <ion-text >{{product?.title}}</ion-text>
          </ion-card-header>

          <img [src]="product?.image" />
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                   <ion-text color="danger">Price: {{product?.price | currency}}</ion-text>
                </ion-col>
                <ion-col size="2">
                  <ion-icon name="bag-add-outline" size="3"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    </ion-grid>
</ion-content>
