<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="showRegistrationForm">
    <ion-card-header>
      <ion-card-title>Create An Account</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="submit_button">Register</ion-button>

      <ion-text>Do you have an account? <a (click)="openModal()">Login here</a></ion-text>

    </ion-card-content>
  </ion-card>

  <ion-card  *ngIf="showRegistrationForm">

  </ion-card>
</ion-content>
