<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin">
      <ion-item  routerLink="/tabs/admin/products">
        <ion-text slot="start">
       <ion-icon name="basket-outline" color="primary"></ion-icon>
        </ion-text>
        <ion-label>
          Products (10)
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-text slot="start">
          <ion-icon name="hourglass-outline" color="primary"></ion-icon>
        </ion-text>
        <ion-label>
          Pending orders (0)
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-text slot="start">
         <ion-icon name="checkmark-done-circle-outline" color="primary"></ion-icon>
        </ion-text>
        <ion-label>
         Completed Orders (0)
        </ion-label>
      </ion-item>

      <ion-item routerLink="/tabs/admin/resellers">
        <ion-text slot="start">
          <ion-icon name="people-circle-outline" color="primary"></ion-icon>
        </ion-text>
        <ion-label>
          Resellers (10)
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-text slot="start">
          <ion-icon name="people-circle-outline" color="primary"></ion-icon>
        </ion-text>
        <ion-label>
          Customers (10)
        </ion-label>
      </ion-item>


</ion-content>